body {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    font-size: 18px; /* Adjust this value as needed */
    background-color: transparent;
}

#backgroundjs {
    position: fixed;
    touch-action: none;
    z-index: -9999;
}

.navbar {
    font-family: 'Film Noir Adventure', sans-serif;
}

.styled-text {
    font-family: 'Film Noir Adventure', sans-serif;
}

.contact-info {
    text-align: center;
    margin-top: 2rem;
}
.contact-info h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 50%;
    background: linear-gradient(135deg, #1e90ff, #87ceeb);
    color: #fff;
    font-size: 1.5rem;
    transition: background 0.3s ease, transform 0.3s ease;
}
.icon-circle:hover {
    background: linear-gradient(135deg, #87ceeb, #1e90ff);
    transform: scale(1.1);
}
.card-img-top {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.logo-brand {
    width: 100%;
    height: 75px;
}

/* Light Blue */
.text-light-blue {
    color: #ADD8E6;
}
.bg-light-blue {
    background-color: #ADD8E6;
}

/* White */
.text-white {
    color: #FFFFFF;
}
.bg-white {
    background-color: #FFFFFF;
}

/* Navy Blue */
.text-navy-blue {
    color: #001F3F;
}
.bg-navy-blue {
    background-color: #001F3F;
}

/* Gray */
.text-gray {
    color: #B0B0B0;
}
.bg-gray {
    background-color: #B0B0B0;
}

/* Coral */
.text-coral {
    color: #FF7F50;
}
.bg-coral {
    background-color: #FF7F50;
}

/* Soft Yellow */
.text-soft-yellow {
    color: #FFFACD;
}
.bg-soft-yellow {
    background-color: #FFFACD;
}

/* Mint Green */
.text-mint-green {
    color: #98FF98;
}
.bg-mint-green {
    background-color: #98FF98;
}

/* Lavender */
.text-lavender {
    color: #cb8bf6;
}
.bg-lavender {
    background-color: #cb8bf6;
}

/* Beige */
.text-beige {
    color: #F5F5DC;
}
.bg-beige {
    background-color: #F5F5DC;
}

/* Peach */
.text-peach {
    color: #FFDAB9;
}
.bg-peach {
    background-color: #FFDAB9;
}

/* Charcoal */
.text-charcoal {
    color: #36454F;
}
.bg-charcoal {
    background-color: #36454F;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.53); /* Semi-transparent white */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
    border: 1px solid rgba(255, 255, 255, 0.18); /* Subtle border */
    padding: 20px; /* Padding inside the element */
}

/* Coral button hover effect */
.navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #FF7F50; /* Coral color */
    border-radius: 5px; /* Rounded corners */
}

.navbar-nav .nav-item .nav-link ::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #FF7F50; /* Coral color */
    border-radius: 5px;
    z-index: -1;
    transition: transform 0.3s ease;
    transform: scale(0);
}

.navbar-nav .nav-link:hover::before {
    transform: scale(1);
}

.nav-tabs {
    border: none;
}
/* Coral text color for inactive tabs */
.nav-tabs .nav-item .nav-link {
    color: #FF7F50; /* Coral color */
    transition: color 0.3s ease;
}

/* Navy blue text color for active tab */
.nav-tabs .nav-item .nav-link.active {
    color: #001F3F; /* Navy blue color */
}

/* Additional hover effect for better UX */
.nav-tabs .nav-item .nav-link:hover {
    color: #FF6347; /* Slightly darker coral color for hover effect */
}

/* Tabs styling */
.nav-tabs .nav-link {
    color: #FF7F50; /* Coral color */
    background-color: transparent;
    border: none;
    transition: color 0.3s ease;
    border-radius: 10px 10px 0 0;
}

.nav-tabs .nav-link.active {
    color: #001F3F; /* Navy blue color */
    background: rgba(255, 255, 255, 0.71);
    border: none;
    border-radius: 10px 10px 0 0;
}

.nav-tabs .nav-link:hover {
    color: #FF6347; /* Slightly darker coral color for hover effect */
}

/* Tab content styling */
.tab-content {
    background: rgba(255, 255, 255, 0.71);
    border: none;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

/* Progress bars styling */
.progress {
    background: #001F3F;
}

.progress-bar {
    color: #001F3F;
    background-color: #f1d80b; /* Coral color for progress bar */
}

.form-label {
    color: #36454F;
    font-family: "Century Gothic";
}

/* Container for the horizontal scroll */
.scroll-container-wrapper {
    position: relative;
    overflow: hidden; /* Hide overflow to ensure no scrollbar is visible */
}

.scroll-container {
    display: flex;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    white-space: nowrap;
    padding: 0 40px; /* Add padding to avoid content touching the arrows */
    scroll-behavior: smooth; /* Smooth scrolling effect */
}

.scroll-container .nav-tabs {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px; /* Optional: Add spacing between tabs */
}

.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    padding: 10px; /* Add padding to make the arrows more clickable */
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.scroll-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
    background: transparent; /* Transparent to ensure it's not visible */
}

.tab-content {
    height: 400px;
}


